@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor

@model BloodAppTry.Models.Donor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Donor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Area)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BloodGroup)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BloodGroup)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointments)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Donation Center</th>
                    <th>Date</th>
                </tr>
                @if (Model.Appointments != null)
                {
                    @foreach (var item in Model.Appointments)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.DonationCenter.Address)
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                        </tr>
                    }
                }
            </table>
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DonorID">Edit</a> |
    @if (Accessor.HttpContext.Session.GetString("Type") != null && Accessor.HttpContext.Session.GetString("Type") == "Admin")
    {
        <a asp-action="Index">Back to List</a>
    }
    else if (Accessor.HttpContext.Session.GetString("Type") != null && Accessor.HttpContext.Session.GetString("Type") == "Donor")
    {
        <a asp-action="Delete" asp-route-id="@Accessor.HttpContext.Session.GetString("ID")">Delete</a>
    }

</div>
